{% extends 'base.html' %}

{% block title %}
User Settings
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h4 align="center">User Settings</h4>
        <form method="POST" action="">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="box-parent">
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete User</button>
        </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 mx-auto"><br><br>
        <h4 align="center">Use this form to request the ability to search by the specified parameters</h4>
        <center><p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show Form
          </button>
        </p></center>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
              <form method="POST" action="{% url 'accounts:contact' %}">{% csrf_token %}
                <div class="form-group">
                    {{ contact_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
          </div>
        </div>
    </div>
</div>

{% endblock %}